fastapi
uvicorn
sqlalchemy
alembic
python-jose
passlib
aiosmtplib
pydantic
pytest
httpx
openai
python-dotenv
pydantic_settings
python-multipart
anthropic
aiofiles
cryptography
bcrypt==4.0.1
numpy
pandas
google-generativeai
python-dotenv
